[Unit]
Description=DevOpsFetch Monitoring Service
After=network.target

[Service]
# ExecStart=/usr/local/bin/devopsfetch -t "$(date -d '1 hour ago' +'%Y-%m-%d %H:%M:%S')" "$(date +'%Y-%m-%d %H:%M:%S')"
ExecStart=/usr/local/bin/devopsfetch.sh --time "1 hour ago" "now"

Restart=5s
User=root

[Install]
WantedBy=multi-user.target